# Final Project
## About
This program attempts to predict the type of physical activity from tri-axial smartphone accelerometer data.
### Input Data
* "train_time_series.csv": contains raw acc. data with the format "timestamp, UTC time, accuracy, x, y, z"
* "train_labels.csv": contains act. lvls to label model
    * 1 = standing
    * 2 = walking
    * 3 = stairs down
    * 4 = stairs up
Note: the labels are provided for every 10th observation in the time series data.

### Test Data
The final test for the program is to evaluate "test_time_series.csv". 
* "test_labels.csv" is provided to tell you what stamps need predictions
Note: You need to augment the above file to correspond to the class prediction numbers.

In [1]:
# import libraries 
import pandas as pd
import numpy as np

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score

import matplotlib.pyplot as plt

In [4]:
# import data
train_labels = pd.read_csv('https://courses.edx.org/assets/courseware/v1/d64e74647423e525bbeb13f2884e9cfa/asset-v1:HarvardX+PH526x+2T2020+type@asset+block/train_labels.csv')
train_time_series = pd.read_csv('https://courses.edx.org/assets/courseware/v1/b98039c3648763aae4f153a6ed32f38b/asset-v1:HarvardX+PH526x+2T2020+type@asset+block/train_time_series.csv')
test_labels = pd.read_csv('https://courses.edx.org/assets/courseware/v1/72d5933c310cf5eac3fa3f28b26d9c39/asset-v1:HarvardX+PH526x+2T2020+type@asset+block/test_labels.csv')
test_time_series = pd.read_csv('https://courses.edx.org/assets/courseware/v1/1ca4f3d4976f07b8c4ecf99cf8f7bdbc/asset-v1:HarvardX+PH526x+2T2020+type@asset+block/test_time_series.csv')

In [5]:
# inspect data
train_labels.head()

   Unnamed: 0      timestamp                 UTC time  label
0       20589  1565109931087  2019-08-06T16:45:31.087      1
1       20599  1565109932090  2019-08-06T16:45:32.090      1
2       20609  1565109933092  2019-08-06T16:45:33.092      1
3       20619  1565109934094  2019-08-06T16:45:34.094      1
4       20629  1565109935097  2019-08-06T16:45:35.097      1

In [6]:
# inspect data
train_time_series.head()

,Unnamed: 0,timestamp,UTC time,accuracy,x,y,z
0,20586,1565109930787,2019-08-06T16:45:30.787,unknown,-0.006485,-0.934860,-0.069046
1,20587,1565109930887,2019-08-06T16:45:30.887,unknown,-0.066467,-1.015442,0.089554
2,20588,1565109930987,2019-08-06T16:45:30.987,unknown,-0.043488,-1.021255,0.178467
3,20589,1565109931087,2019-08-06T16:45:31.087,unknown,-0.053802,-0.987701,0.068985
4,20590,1565109931188,2019-08-06T16:45:31.188,unknown,-0.054031,-1.003616,0.126450

In [7]:
# inspect data
test_labels.head()

   Unnamed: 0      timestamp                 UTC time  label
0       24339  1565110307041  2019-08-06T16:51:47.041    NaN
1       24349  1565110308043  2019-08-06T16:51:48.043    NaN
2       24359  1565110309046  2019-08-06T16:51:49.046    NaN
3       24369  1565110310048  2019-08-06T16:51:50.048    NaN
4       24379  1565110311050  2019-08-06T16:51:51.050    NaN

In [8]:
# inspect data
test_time_series.head()

,Unnamed: 0,timestamp,UTC time,accuracy,x,y,z
0,24330,1565110306139,2019-08-06T16:51:46.139,unknown,0.034286,-1.504456,0.157623
1,24331,1565110306239,2019-08-06T16:51:46.239,unknown,0.409164,-1.038544,0.030975
2,24332,1565110306340,2019-08-06T16:51:46.340,unknown,-0.234390,-0.984558,0.124771
3,24333,1565110306440,2019-08-06T16:51:46.440,unknown,0.251114,-0.787003,0.054810
4,24334,1565110306540,2019-08-06T16:51:46.540,unknown,0.109924,-0.169510,0.235550